<config>
    <modules>
        <Jakey_ResellBlocker>
            <version>0.0.1</version>
        </Jakey_ResellBlocker>
    </modules>
    <global>
        <models>
            <jakey_resellblocker>
                <class>Jakey_ResellBlocker_Model</class>
                <resourceModel>jakey_resellblocker_resource</resourceModel>
            </jakey_resellblocker>
            <jakey_resellblocker_resource>
                <class>Jakey_ResellBlocker_Model_Resource</class>
                <entities>
                    <basetime>
                        <table>jakey_resellblocker_basetime</table>
                    </basetime>
                    <emaillist>
                        <table>jakey_resellblocker_emaillist</table>
                    </emaillist>
                </entities>
            </jakey_resellblocker_resource>
        </models>
        <resources>
            <jakey_resellblocker_setup>
                <setup>
                    <module>Jakey_ResellBlocker</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jakey_resellblocker_setup>
            <jakey_resellblocker_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </jakey_resellblocker_write>
            <jakey_resellblocker_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </jakey_resellblocker_read>
        </resources>
        <helpers> <!-- a definition of the module helpers namespace -->
            <jakey_resellblocker>
                <class>Jakey_ResellBlocker_Helper</class>
            </jakey_resellblocker>
        </helpers>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <mymodule>
                        <class>jakey_resellblocker/observer</class>
                        <method>evalSale</method>
                    </mymodule>
                </observers>
            </checkout_submit_all_after>
            <admin_system_config_changed_section_jakeysell>
                <observers>
                    <mymodule>
                        <class>jakey_resellblocker/observer</class>
                        <method>setValues</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_jakeysell>
        </events>
    </global>
    <crontab>
        <jobs>
            <email_cron>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>jakey_resellblocker/observer::sendEmail</model>
                </run>
            </email_cron>
            <timeframe_cron>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>jakey_resellblocker/observer::checkTimeFrame</model>
                </run>
            </timeframe_cron>
        </jobs>
    </crontab>
</config>